
<section class="text-center b  ">
    <div class="container-fluid  ">
      <div class="row vh-100 align-items-center">
        <div class="">
            <h1>About Us </h1>
            <button class="btn btn-warning rounded-pill">BOOK a DEMO</button>
        </div>
      </div>
    </div>
</section>

    <!-- why choose us  -->
    <div class="b py-3">
        <div class="container mt-5">
            <div class="row">
                <div class="co-md-12 text-center py-5">
                    <h3>WHY CHOOSE US </h3>
                </div>
            </div>
            <div class="row gx-5 gy-5">
                <div class="col-lg-4">
                    <div class="card1 card icons-color-bg">
                        <div class="card-body py-5 p-5">
                            <div class="text-center card-text">
                                <i class="icon fas fa-crown" ></i>    
                            </div>
                            <div class="card-title text-center">
                                <h3>HMRC Compliant</h3>
                            </div>
                            <div class="card-text text-center">
                                <p>
                                    We as a business are HMRC compliant and our expert accountants can work with your business to ensure that you are too. Making sure you don't receive penalties and fines.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card1 card icons-color-bg">
                        <div class="card-body py-5 p-5">
                            <div class="text-center card-text">
                                <i class="bi bi-person icon"></i>    
                            </div>
                            <div class="card-title text-center">
                                <h3>Friendly And Reliable</h3>
                            </div>
                            <div class="card-text text-center">
                                <p>
                                    We as a business are HMRC compliant and our expert accountants can work with your business to ensure that you are too. Making sure you don't receive penalties and fines.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card1 card icons-color-bg">
                        <div class="card-body py-5 p-5">
                            <div class="text-center card-text">
                                <i class="fas fa-handshake icon"></i>   
                            </div>
                            <div class="card-title text-center">
                                <h3>Affordable and Competitve</h3>
                            </div>
                            <div class="card-text text-center">
                                <p>
                                    We as a business are HMRC compliant and our expert accountants can work with your business to ensure that you are too. Making sure you don't receive penalties and fines.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- why choose us end -->



            <!-- our core beleifs  -->
    <div class="b py-5 mt-5">
        <div class="container text-center">
            <div class="row ">
                <div class="col-md-12">
                    <h3>OUR CORE BELIEFES</h3>
                </div>
            </div>
          <div class="row  gx-5 gy-5">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                            <p class=" fw-bold  fs-5 p-5 ">Excellence is the unlimited ability to improve the quality of what you have to offer.</p>        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-success">
                    <div class="card-body">
                        <div class="card-text">
                            <p class="p-5 text-white">Like us, you live and breathe your business, so we will treat your business as if it is our own, we will work tirelessly with you to find ways to save you money and help your business to grow, and ensure your financial success.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 icons-color-bg">
                    <div class="card-body">
                        <div class="card-text">
                        <i class="fas fa-medal icon"></i>
                        </div>
                        <div class="card-title">
                            <h3>Excellence</h3>
                        </div>
                        <div class="card-text">
                            <p class="p-4">We aspire to excellence in all that we do, as such we will work with you to ensure you and your business can reach its fullest potential, our accountants will use their experience and know how to support you in your financial goals.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div class="row mt-5 gx-5 gy-5">
            <div class="col-lg-4">
                <div class="card card1 icons-color-bg p-5">
                    <div class="card-body">
                        <div class="card-text">
                            <i class="bi bi-clock-history icon"></i>
                        </div>
                        <div class="card-title">
                            <h3>Reliability</h3>
                        </div>
                        <div class="card-text">
                            <p class="py-4">Our expert accountants and legal teams have years of experience in their fields. This means that we can assure you that they will get the job done, often making you very large savings in the process. You can depend on us.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card icons-color-bg card1 p-5">
                    <div class="card-body">
                        <div class="card-text">
                            <i class="fas fa-pound-sign icon"></i>
                        </div>
                        <div class="card-title">
                            <h3>Affordability</h3>
                        </div>
                        <div class="card-text">
                            <p class="py-4">At the end of the day, it's all about money, we look for ways to save you money, whilst being affordable ourselves. Otherwise, what would be the point? You can rest assured that you will always receive a fair fee for the expert work that we carry out.</p>
                        </div>
                </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 icons-color-bg p-5">
                    <div class="card-body">
                        <div class="card-text">
                            <i class="fas fa-handshake icon"></i>   

                        </div>
                        <div class="card-title">
                            <h3>Commitment</h3>
                        </div>
                        <div class="card-text">
                            <p class="py-4">We are committed to supporting our clients to help them grow, by helping you to grow we can grow as too. We will work closely with you to assist with your businesses need, bringing expertise and initiative to ensure your financial success.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
           
        </div>
    </div>
    <!-- our core beleifs end  -->


    <!-- TIMILINR  -->

    <div class="b mt-5 py-5">
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12 text-center">
                    <h3 class="display-4 fw-bold">OUR APPROACH</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

<section class="timer-section">
    <div class="container">
      <div class="timer-container">
        <ul class="timer">
        <li class="step">
          <span> 1</span>
          <div class="content text-center">
            <h3>REVIEW</h3>
              <p>
                Our team will look over your present incoming and payment structure.              </p>
          </div>
        </li>
        <li class="step">
          <span>2</span>
          <div class="content text-center">
            <h3>CONSULT</h3>
              <p>
                We recommend a very well action plan, which will give you with full coverage.              </p>
          </div>
        </li>
        <li class="step">
          <span> 3</span>
          <div class="  content text-center">
            <h3>IMPLEMENT</h3>
              <p>
                We will complete all of your paperwork and make all of your scheduled payments. Providing you with regular updates and payments.</p>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </section>
                </div>
            </div>
        </div>
    </div>