
<section class="text-center b  ">
    <div class="container-fluid  ">
      <div class="row vh-100 align-items-center">
        <div class="">
            <h1>Our Services </h1>
            <button class="btn btn-warning rounded-pill">BOOK a DEMO</button>
        </div>
      </div>
    </div>
</section>

<!-- MANAGED AND OUTSOURECED PAYROLL -->
<div class="mt-5 b py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 payroll-merge-service">
                <h3 class="p-3" >Managed & Outsourced <br> Payroll</h3>
                <div class="mx-3 ">
                <span class="px-1 py-1 text-success span-payroll border border-2 border-success ">TRUSTED</span>
                <span class="px-1 mx-4 py-1 text-success span-payroll border border-2 border-success ">COMPLAINT</span>
                <span class="px-1 py-1 text-success span-payroll border border-2 border-success ">AFFORDABLE </span>
                </div>
                <div class="mt-4">
                    <p>Whatever the size of your company, outsourcing your payroll can save you time and money.</p>
                    <p>Our payroll experts are fully HMRC compliant, and can make sure that income tax, national insurance, student loans, pensions and your employees are paid fully and on time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MANAGED AND OUTSOURECED PAYROLL END  -->

<!-- our services  -->
<div class="b py-5 mt-5 ">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h3>Our Services</h3>
            </div>
        </div>
        <div class="row mt-3 gx-5 gy-5">
            <div class="col-lg-4">
                <div class="card card1 p-5">
                    <div class="card-body">
                        <div class="card-text">
                            <i class="bi bi-people-fill icon "></i>
                        </div>
                        <div class="card-title">
                            <h3>Fully Managed Payroll</h3>
                        </div>
                        <div class="card-text">
                            <p class="py-4">You will receive a direct line to contact our payroll experts, giving you oversight and keeping you on top of the process.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 p-5">
                    <div class="card-body">
                        <div class="card-text">
                            <i class="bi bi-telephone-inbound icon" ></i>
                        </div>
                        <div class="card-title">
                            <h3>Direct Access</h3>
                        </div>
                        <div class="card-text">
                            <p class="py-4">You will receive a direct line to contact our payroll experts, giving you oversight and keeping you on top of the process.</p>
                        </div>
                </div>
                    </div>
            </div>
            <div class="col-lg-4">
                <div class="card card1 p-5">
                    <div class="card-body">
                        <div class="card-text">
                            <i class="bi bi-people icon "></i>  

                        </div>
                        <div class="card-title">
                            <h3>Human Resource </h3>
                        </div>
                        <div class="card-text">
                            <p class="py-4">All companies at some point will need support of dedicated Human Resources experts, our professionals are on hand to support you.</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</div>
<!-- our services  end  -->


<!-- icons wla shahskey  -->
<section class="icons-color-bg b">
    <div class="container text-center ">
        <div class="row l  align-items-center" >
            <div class="col-lg-4">
                <h3> <i class="icon fas fa-crown" ></i> </h3>
                <h4>HRMC Complaint </h4>
                <p>Ensure full HMRC Complaince </p>
            </div>
            <div class="col-lg-4 ">
             
              <h3><i class="fas fa-pound-sign icon"></i></h3>
                <h4>Affordable</h4>
                <p>For amazing projects  </p>
            </div>
            <div class="col-lg-4">
                
                <h3>  <i class="fas fa-handshake icon"></i> </h3>
                <h4>Reliable </h4>
                <p>To aviod problems  </p>
            </div>
        </div>
    </div>
</section>
<!-- icons wla shahskey end  -->


<!-- WHAT ARE MANAGED PAYROLL SERVICES? -->
<div class="mt-5 b py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>WHAT ARE MANAGED PAYROLL SERVICES?</h4>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-7 icons-color-bg p-5">
            <p>Instead of your company having an in house payroll department, you can outsource your payroll responsibilities to another company that specialises in providing payroll services.</p>
            <p>The third party provider will manage every part of your payroll process, however for them to do this you will have to give them information about your employees, including the hours worked and the rate of pay for each pay period.</p>
            <p>All of the rest of the payroll process will be managed by the third party provider.</p>
            <p>It is up to you how much of the payroll process you outsource to a third party, completely outsourcing the process will be inclusive of many of the functions, inclusive of the calculation of gross wages, setting up a payroll system, making any necessary subtractions inclusive of pension, student loan debts, taxes and national insurance.</p>
            </div>
           <div class="offsetlg-1 col-lg-4 icons-color-bg p-5">
            <p>It will also ensure that you are compliant with tax and payroll regulations and these change over time.</p>
            <p>They will be able to print and send payslips, or email them if you prefer.</p>
            <p>They can make the deposit to your employees bank accounts, enter any and all payroll data, prepare and submit tax filings for your employees and complete and file any other essential paperwork not listed, including the submission of RTI's (Real Time Information) to HMRC.</p>
           </div>
        </div>
    </div>
</div>
<!-- WHAT ARE MANAGED PAYROLL SERVICES? end  -->

<!-- ARE THERE ANY BENEFITS TO MANAGED PAYROLL SERVICES? -->
<div class="mt-5 b py-5 ">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h4>ARE THERE ANY BENEFITS TO MANAGED PAYROLL SERVICES?</h4>
        </div>
        <div class="row mt-5">
            <div class="col-lg-6  ">
                <div class="card p-5  icons-color-bg">
                    <p>Benefits to outsourcing your payroll to a third party so that they can manage your payroll services are varied.</p>
                    <p>You will immediately see a financial benefit, often payroll companies can save you money as you are no longer having to employ someone, or a team of people, to do the job.</p>
                    <p>There are further savings to be made, including any licensing fees for payroll software, any supplies and equipment, for example perforation machines, ink and paper, printers, and you will not have to pay for the ongoing training and development of your payroll staff.</p>
                    <p>When you outsource your payroll to a third party payroll provider you will immediately see gains for you and your company in time and money. This will free your employees from the complex administrative duties involved in payroll allowing them to focus on the actual business.</p>
                    <p>There will be further benefits in terms of increased HMRC compliance, as you will be outsourcing to an HMRC compliant payroll provider and security.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card p-5 icons-color-bg" >
                    <p>As a company it will no longer be your responsibility to keep abreast of any legislative changes in taxation or payroll, or worry about meeting deadlines, or ensure that you are compliant with any local, state or federal laws in payroll and taxation as this will be managed by a specialist payroll company.</p>
                    <p>Moreover, as the payroll provider will be managing many accounts from different companies, they will ensure that they have state of the art encryption, firewalls and any other security devices to protect yours and their clients employees data.</p>
                    <p>This ensures that the risk of theft, security breaches or fraud is minimised and that any data remains confidential and secure.</p>
                    <p>However, even though you are getting a third party to process your companies payroll you will still have oversight and control of this process.</p>
                    <p>You will have complete access and control over the process through reports, payroll software, and importantly access to you payroll manager who can answer any of your queries, or deal with any queries from your employees.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end ARE THERE ANY BENEFITS TO MANAGED PAYROLL SERVICES? -->



<!-- SHOULD MY BUSINESS INVEST IN MANAGED PAYROLL SERVICES? -->
 <div class="mt-5 b py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center my-4">
                <h4>SHOULD MY BUSINESS INVEST IN MANAGED PAYROLL SERVICES?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-5 icons-color-bg">
                    <p>Every type and size of business can benefit from managed payroll services.</p>
                    <p>If you are a large company and already employ your own in house payroll department, you will immediately see a saving, as you will no longer have to be paying wages or any benefits to a dedicated payroll team as this will be outsourced at a much cheaper rate.</p>
                    <p>If you are a medium or small company with 20 employees or less you will also see benefits from outsourcing your payroll to a third party.</p>
                    <p>If you are a business owner who takes care of every aspect of your companies running you will also gain real value.</p>
                    <p>To be compliant with payroll and tax regulations you need extensive experience and knowledge to ensure that you make no mistakes, as any mistakes made can be costly.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card p-5 icons-color-bg">
                    <p>If you do not have the experience or specialist knowledge there is a much higher chance of payroll errors being made which when dealing with HMRC can lead to large penalties and costly fines.</p>
                    <p>However, when you decide to outsource your payroll services, you will gain the expertise and dedication of specialist payroll professionals.</p>
                    <p>Moreover, and importantly, you make gains in terms of time saved, as the payroll process can be complex, lengthy and time 
                    consuming.</p>
                    <p>This will allow you to focus more on the core of your organisation and growing your business.</p>
                </div>

            </div>
        </div>
    </div>
</div> 
<!-- SHOULD MY BUSINESS INVEST IN MANAGED PAYROLL SERVICES? end -->

<!-- Payroll Outsourcing -->
<div class="mt-5 b py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card p-5">
                    <div class="card-body">
                    <div class="card-title py-2">
                        <h3>Payroll Outsourcing</h3>
                    </div>
                    <div class="card-text">
                        <p>Payroll can be time-consuming and complex. It is also one of the most important parts of your business.</p>
                        <p>To minimise errors in payroll it can be good to outsource your payroll, ensuring accurate pay and compliance with HMRC regulations.
                        </p>
                        <p>Often people decide to outsource their payroll as it is cost and time efficient for their companies. It reduces errors as our experts have years of experience in payroll.</p>
                        <p>If there are any payroll queries from your employees our experts can be on hand to answer them, removing the need for you to do it and reducing you costs as a company.</p>
                        <p>Our experts can remove the stress of auto enrolling your employees into the Auto Enrollment pension scheme, keep on top of their national insurance and tax contributions, any repayments to the Student Loans Company and handle any expenses or benefits they may have received.</p>
                        <p>Whether your company employs 5 people, or 5,000 people, our experts are on hand to remove the hassles of payroll from you and your company, making payroll simple and easy for you, using their experts to minimise any payroll errors that can occur.</p>
                        <p>If you would like more information on what we can do to help you please feel free to contact us.</p>
                    </div>
                </div>
            </div>
            </div>

            <div class="col-lg-6">
                <div class="card p-5">
                    <div class="card-body">
                        <div class=" py-2 card-title">
                            <h3>Managed Payroll</h3>
                        </div>
                        <div class="card-text">
                            <p>We can provide support for your payroll, from fully managed payroll services to a bespoke service to support you and your employees.</p>
                            <p>We can assist and provide fully managed payroll services, whether your business is large or small.</p>
                            <p>Nothing is more important to your employees than receiving their wages correctly on time, every time.</p>
                            <p>Smoothly managed payroll services are essential for the happiness, and therefore productivity of your employees.</p>
                            <p>We offer a fully managed payroll service that includes auto enrollment in government pension schemes, as well as complete compliance with HMRC rules and guidelines.</p>
                            <p>For many people having to deal with Pensions Automatic Enrollment, Real Time Information and HMRC can be demanding on their time and very stressful.
                            </p>
                           <p>By outsourcing to us we will take away all of the worry, and you can relax knowing that your employees will be paid correctly and on time.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Payroll Outsourcing -->


<!-- WHAT HAPPENS NEXT? -->
<div class="b py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center my-3">
                <h4>WHAT HAPPENS NEXT?</h4>
            </div>
            <div class="row  gx-5 gy-5">
                <div class="col-lg-6">
                    <div class="card icons-color-bg p-5">
                        <p>It really is straightforward, when you choose us to become your payroll service providers we will completely manage your payroll for you.  </p>
                        <p>We just need some simple information from you and then we can set up your payroll services.
                     </p>
                     <p>The information we will ask are things like, rates of pay, whether it is wages or salary, how often they are supposed to be paid</p>
                     <p>This we will ask you to provide on a short form, from there we can set up your companies payroll and completely manage it for you, removing any hassle.</p>
                     </div>
                </div>
                <div class="col-lg-6">
               <div class="card p-5 icons-color-bg">
                <p>Going forward all we will need from you is for you to inform us each pay day of how long each one of your employees has actually worked.</p>
                <p>We then figure out their pay, show any deductions for tax, National Insurance, or student loans, pensions, which can then be paid to HMRC or the Student Loans Company or their pension provider.</p>
                <p>It couldn't be easier.  </p>
                <p>All of this should remove the hassle of payroll for you, enabling you to free up time and focus on the other aspects of your company.</p>
               </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="text-center col-md-12 ">
                    <button class="btn w-50 rounded-pill btn-outline-primary">Book A Demo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- WHAT HAPPENS NEXT? end  -->